body, html {
    margin: 0;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #262626;
    user-select: none;
}

canvas {
    cursor: none;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-separator {
    width: 40px;
}

.button {
    border: 1px solid aliceblue;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 15px 20px;
    cursor: pointer;
}

.selected {
    color: #262626;
    background-color: aliceblue;
}
